*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("wood-background-1536x1024.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-family: "Raleway" ,sans-serif;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #0D47A1;
    font-weight: bold
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    gap: 10px;
}
.filters{
    display: inline-flex;
    margin: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    width: fit-content;
    
}
.filters button{
    background-color: #E0E0E0;
    color: #0D47A1;
    margin-right: 8px ;
    padding: 7px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.filters button:last-child{
    margin-right: 0;
}
.filters button:hover{
    background-color: #66BB6A;
    color: #fff;
    font-weight: 800;
    transform: scale(1.1);
}
.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.images img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    border-radius:8px ;
    transition: all 0.2s ease;
}
.images img:hover{
    transform: scale(1.1);
}
.hidden{
    display: none;
}
.images .box-image{
    position: relative;
    border: 2px solid #ddd;
    width: 320px;
    height: 320px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;
}
.filters button.active{
    background-color: #4CAF50;
    color: #fff; 
    border-color: #4CAF50;
}
